---
title: "예제 제목"
date: "2024-05-14"
description: "간단한 설명"
---

# IISACC

### Website for showcasing my personal workshops, projects and more

## Build With

- [x] == Already Included
- [ ] == Scheduled to be included

### Frontend :

- [x] Svelte
- [ ] mdsvex - For static markdown posting
- [ ] adapter-static - For static website build


### Server / Systems

- [x] SvelteKit
- [ ] Caddy - For self hosting
- [ ] gitea - For self hosting git remote repo