:root {
	--color-accent-blue: #007AFF;
	--color-accent-red: #DB1111;
	--color-accent-green: #3A9D3E;
	--color-accent-yellow: #FFD30A;
	--color-accent-orange: #FF9F21;
	--color-accent-purple: #B90BFF;
	--color-accent-cyan: #13FFD6;
	--color-accent-indigo: #FFD30A;

	--color-background-primary: #19191A;
	--color-background-secondary: #3B3D40;

	--color-text-primary: #EAECF6;
	--color-text-secondary: #D7D8E1;
	--color-text-disabled: #52535A;

	/* contents font sizes */
	--text-title: 64px;
	--text-subtitle: 48px;
	--text-header: 32px;
	--text-subheader: 24px;
	--text-body: 17px;
	--text-caption: 13px;

	/* ui font sizes */
	--text-ui: 20px;
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	display: flex;
	background-color: var(--color-background-primary);
}

body {
	max-width: 720px;
	width: 100%;
	height: 100%;
	font-family: 'Pretendard';
	color: var(--color-text-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: var(--text-body);
	color: var(--color-text-secondary);
}

a {
	text-decoration: none;
	text-transform: none;
	display: block;
	text-decoration: none;
	color: inherit;
}

